@(personForm: Form[model.Person])

@import helper._
@import helper.twitterBootstrap._


@main(title = Messages("add_person_page.title")) {

    @helper.form(action = routes.PersonController.submit){

    <fieldset>
   <!--        <div class="field-group">
            <div class="form-field @if(personForm("firstName").hasErrors) {error}">-->
                @if(personForm("firstName").hasErrors) {
                    @personForm.errors("firstName").map{ error =>
<!--
                    <span class="error-notification">
-->
                        @Html(Messages("add_person_firstName.error"))
<!--
                    </span>
-->
                }
            }
<!--
        </div>
-->
        @inputText(
        personForm("firstName"),
        '_label -> "First Name"
        )

        @inputText(
        personForm("lastName"),
        '_label -> "Last Name"
        )

        @inputText(
        personForm("email"),
        '_label -> "Email"
        )

        <input type="submit" value="Submit" id="submit"/>

    </fieldset>

    }

}
